<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{=it.title}}</title>
    <link href='{{=it.rootPath}}/css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='{{=it.rootPath}}/css/darkula.css' rel='stylesheet' type='text/css'>
    <link href='{{=it.rootPath}}/css/default.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>{{=it.title}}</header>
<div id="content">
    <div id="index">{{=it.toc}}</div>
    <div id="code"><div id="table">
        {{~it.lines :line:index}}
        <div class="table-row">
            {{? line.comment === null }}
                <div class="comment blank">&nbsp;</div>
            {{??}}
                <div class="comment">{{=line.comment}}</div>
            {{?}}
            <div class="lineNo">{{=line.lineNo || '&nbsp;'}}</div>
            <div class="code">{{=line.code || '&nbsp;'}}</div>
        </div>
        {{~}}
    </div></div>
</div>
{{? it.footer }}
    <footer>{{=it.footer}}</footer>
{{?}}
</body>
</html>