<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link href='{rootPath}/css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='{rootPath}/css/darkula.css' rel='stylesheet' type='text/css'>
    <link href='{rootPath}/css/default.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>{title}</header>
<div id="content">
    <div id="index">{toc|s}</div>
    <div id="code"><div id="table">
        {#lines}
        <div class="table-row">
            {^comments}
                <div class="comment blank">&nbsp;</div>
            {/comments}
            {?comments}
                <div class="comment">
                {#comments}
                    <span class="comment-{type}">{value|s}</span>
                    {@sep}<br>{/sep}
                {/comments}
                </div>
            {/comments}
            <div class="lineNo">{lineNo}</div>
            <div class="code">{code|s}</div>
        </div>
        {/lines}
    </div></div>
</div>
{^footer}
    <footer>{footer|s}</footer>
{/footer}
</body>
</html>