<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link href='normalize.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto' rel='stylesheet' type='text/css'>
    <link href='default.css' rel='stylesheet' type='text/css'>
    <link href='monokai.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>{title}</header>
<div id="container">
    <div id="index">{index}</div>
    <div id="comments"><pre>{comments}</pre></div>
    <div id="code" class="hljs"><pre>{code}</pre></div>
</div>
</body>
</html>