<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link href='{css-path}/normalize.css' rel='stylesheet' type='text/css'>
    <link href='{css-path}/darkula.css' rel='stylesheet' type='text/css'>
    <link href='{css-path}/default.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>{title}</header>
<div id="content">
    <div id="index">{index}</div>
    <div id="code"><div id="table">{content}</div></div>
</div>
<footer>{title}</footer>
</body>
</html>